header {
    width: 100%;
    height: 165px;
    background-color: rgb(200, 185, 174);
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 244, 230);
    font-family: fantasy;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.logo:hover {
    cursor: pointer;
    transform: scale(95%);
    filter: brightness(70%);
}

.link {
    text-align: center;
}